.header {
  text-align: center;
}

.header .header-image img {
  margin-top: 32px;
  width: 320px;
  height: 192px;
}

.header .slide {
  margin-top: 40px;
  width: 100%;
  background: #1b1e21;
}

.header .slide .slide-word {
  padding: 10px 0;
  color: #ffffff;
}

